th,td{
    font-size: 0.8em;
}

.l-order-table{
    border-collapse: collapse;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    width: 1450px;
    height: 100%;
    overflow: auto;
}

.l-order-table thead tr{
    background-color: rgba(12, 105, 245, 0.815);
    color: white;
    text-align: left;
    font-weight: bold;
}

.l-order-table th,
.l-order-table td{
    padding: 12px 15px;
}

.l-order-table tbody tr{
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.buttons-table-order button{
    margin-bottom: 4px;
    padding:5px;
    width: 100px;
    display: block;
}


@media (max-width:1700px){
    .l-order-table{
        width: 1200px;
    }
}

@media (max-width:1440px){
    .l-order-table{
        width: 1310px;
    }
}

@media (max-width:1024px){
    .l-order-table{
        width: 960px;
    }
}