.container-items{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    z-index: 4;
    background-color: #970909;
    width: 100%;
    bottom: 0px;
    left: 0px;
    transition: visibility 0s, opacity 0.5s, height 0.3s  linear;
}

.header-items{
    margin: 0 auto;
    padding: 10px;
}

.header-items header{
    font-size: 1.5em;
}


.m-items-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.m-items-total span{
    color:#fffc06;
    font-size: 2em;
    margin-right: 2%;
}

.m-items-total .link{
    padding: 10px;
    color: black;
    text-align: center;
    width: 50%;
    background-color: #fffc06;
    font-size: 1.5em;
}

.m-items-total .link:hover{
    background-color: #dad606;
    text-decoration: none;
    cursor: pointer;
}

.m-items{
    margin-top: 8%;
    overflow: auto;
    background-color: #5c0505;
    height: 50vh;
}

.m-items ul{
    font-size: 1.5em;
    color: white;
}

.header-items:hover{
    cursor: pointer;
}



.is-extended{
    height: 80vh;
}

.is-normal{
    height: 8vh;
}