.menu{
    background-color: #020406;
    overflow: auto;
}


.container-food{
    margin-top: 90px;
    width: 100%;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit,minMax(400px,1fr));
}