.container-category{
    margin-top: 10%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.m-confirm{
    height: 300px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.m-confirm ul{
    margin: 0;
    padding: 0;
}

.btn-quantity{
    background-color: rgba(255, 255, 0, 0.925);

}

 .m-btn-md.comfirmItems{
    margin-top: 10px;
}

.is-confirm-visible{
    visibility: visible;
    opacity: 1;
}

.is-confirm-hidden{
    visibility: hidden;
    opacity: 0;
}


