
.status-text{
    text-align: center;
    width: 230px;
}

.status-text header{
    padding: 5px;
    margin: 0;
}

.circle-shape{
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.is-circle-activated{
    background-color: #FFFF33;
}

.is-status-text-activated{
    color: white;
}

@media (max-width: 1024px) {
    .m-center.order-status{
        flex-direction: column;
    }
}