
*{
  font-size: 16px;
}

html,body {
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

button:hover{
  cursor: pointer;
}

button:focus{
   outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  cursor: pointer;
}

ul{
  list-style: none;
}

.m-btn-default{
  background-color: rgba(255, 255, 0, 0.925);
  padding: 20px;
  color: black;
  text-align: center;
}

.link:hover{
  text-decoration: none;
  color: inherit;
}

.m-btn-default:hover{
  background-color: rgba(255, 255, 0, 0.74);
}

@media (min-width:768px){
  *{
    font-size: 20px;
  }

}