*{
  font-size: 16px;
}

html,body {
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

button:hover{
  cursor: pointer;
}

button:focus{
   outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  cursor: pointer;
}

ul{
  list-style: none;
}

.m-btn-default{
  background-color: rgba(255, 255, 0, 0.925);
  width: 100px;
  height: 50px;
  padding: 10px;
  color: black;
  text-align: center;
}

.link:hover{
  text-decoration: none;
  color: inherit;
}

.l-loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(14, 13, 13);
}

.l-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-aside{
  width: 400px;
  height: 100%;
  position: fixed;
}

.l-center-row{
  display: flex;
  align-items: center;
}

.m-grid{
  display: grid;
  height: 50vh;
  gap: 6px;
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: auto;
}

.m-card{
  text-align: center;
  height: 300px;
}

.black-color{
  background-color: rgb(14, 13, 13);
  color: white;
}

.white-color{
  background-color: white;
  color: black;
}

.black-border{
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.m-btn-default:hover{
  background-color: rgba(199, 199, 15, 0.74);
}

@media (max-width:1024px){
  .m-grid{
      grid-template-columns: 350px 350px;
  }
}

@media (max-width: 767px){
  .m-grid{
      grid-template-columns: 350px;
  }
}

@media (min-width:768px){
  *{
    font-size: 20px;
  }

}